<template name="nav">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="{{urlFor 'home'}}">Project name</a>
                {{#if currentUser}}
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        {{#if isAdmin}}
                        <li><a href="{{urlFor 'admin'}}" class="text-error">Admin</a></li>
                        {{/if}}
                        <li class="active"><a href="#">My stuff</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="#">{{loginButtons}}</a></li>
                    </ul>
                </div>
                {{else}}
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="{{urlFor 'home'}}">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="#">{{loginButtons}}</a></li>
                    </ul>
                </div>
                {{/if}}
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
</template>
